@import "../../../scss/mixins";
@import "../../../scss/variables";

.comic-overview-container {
   height: auto;
   width: 100%;
   margin: 0 auto;
   @include shadow;
   background-color: $white;
   // padding: 30px;
   margin-top: -2px;

   display: flex;
   flex-direction: column;
   align-items: center;

   img {
      margin-top: -80px;
      width: 150px;
      height: auto;
      border: 5px solid $white;
      display: block;
      position: relative;
      border-radius: 4px;
   }

   .comic-overview-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 550px;
      flex-wrap: wrap;
      .comic-overview-title {
         margin: 10px 0;
         color: $blue;
         font-weight: bold;
         font-size: 1.3em;
      }
      .comic-overview-subtitle {
         font-size: 0.9em;
         margin-bottom: 4px;
         &:last-child {
            color: $blue;
         }
      }
   }

   .comic-overview-bar {
      margin: 20px;
      display: flex;
      flex-direction: row;
      font-size: 0.9em;

      .comic-overview-bar-item {
         border-right: 1px solid #000;
         padding: 5px 15px;

         &:last-of-type {
            border: none;
         }
      }
   }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
   .comic-overview-container {
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 0;

      img {
         margin-top: -80px;
         width: 200px;
         height: auto;
         border: 7px solid $white;
         border-radius: 6px;
      }

      .comic-overview-picture {
      
      }

      .comic-overview-content {
         margin: 0 30px;
      }

      .comic-overview-bar {
         display: none  ;
      }
   }
}

@media only screen and (min-width: 1200px) {
   .comic-overview-container {
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 0;

      img {
         margin-top: -80px;
         width: 200px;
         height: auto;
         border: 7px solid $white;
         border-radius: 6px;
      }

      .comic-overview-picture {
      
      }

      .comic-overview-content {
         margin: 0 30px;
      }

      .comic-overview-bar {
      }
   }
}

