@import "../../../scss/mixins";
@import "../../../scss/variables";

.comic-overview-container {
   height: auto;
   width: 100%;
   margin: 0 auto;
   @include shadow;
   background-color: $white;
   // padding: 30px;
   margin-top: -2px;

   display: flex;
   flex-direction: column;
   align-items: center;

   img {
      margin-top: -80px;
      width: 150px;
      height: auto;
      border: 5px solid $white;
      display: block;
      position: relative;
      border-radius: 4px;
   }

   .comic-overview-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      // min-width: 550px;
      flex-wrap: wrap;
      .comic-overview-title {
         margin: 10px 10px;
         max-height: 1em;
         overflow: hidden;
         color: $blue;
         font-weight: bold;
         font-size: 1.3em;
      }
      .comic-overview-subtitle {
         font-size: 0.9em;
         margin-bottom: 7px;

         &:nth-last-of-type(1) {
            color: $dark-gray;
            font-size: 0.7em;
         }

         &:nth-last-of-type(2) {
            color: $orange-1;
            font-size: 0.7em;
         }

         // &:last-child {
         //    color: $dark-gray;
         //    margin-top: 10px;
         //    font-size: 0.65em;
         // }
      }
   }

   .comic-overview-bar {
      margin: 20px;
      display: flex;
      flex-direction: row;
      font-size: 0.9em;

      .comic-overview-bar-item {
         border-left: 1px solid #000;
         border-right: 1px solid #000;
         padding: 5px 15px;
         font-size: 0.8em;

         span {
            color: $blue;
            font-weight: bold;
            margin-right: 5px;
         }

         &:last-of-type {
            border: none;
         }
      }

      .comic-overview-bar-main-item {
         padding: 5px 5px;
         background-color: $orange-1;
         border: 1px solid $orange-1;
         color: $white;
         border-radius: 4px;
         font-weight: bold;
         margin-right: 10px;
      }

      .comic-overview-bar-main-item-subscribe {
         padding: 5px 5px;
         background-color: $blue;
         border: 1px solid $orange-1;
         color: $white;
         border-radius: 4px;
         font-weight: bold;
         margin-left: 10px;
         cursor: pointer;
      }
      .comic-overview-bar-main-item-subscribed {
         padding: 7px 10px;
         background-color: $dark-green;
         border: 1px solid $orange-1;
         color: $white;
         border-radius: 4px;
         font-weight: bold;
         margin-left: 10px;
         cursor: pointer;
      }
   }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
   .comic-overview-container {
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 0;

      img {
         margin-top: -80px;
         margin-left: 40px;
         width: 200px;
         height: auto;
         border: 7px solid $white;
         border-radius: 6px;
      }

      .comic-overview-content {
         margin: 0 30px;
      }

      .comic-overview-bar {
         .comic-overview-bar-item {
            display: none;
         }
         .comic-overview-bar-main-item {
            display: block;
            margin-right: 2px;
         }
         .comic-overview-bar-main-item-subscribe {
            display: block;
            margin-left: 0;
         }
      }
   }
}

@media only screen and (min-width: 1200px) {
   .comic-overview-container {
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 0;

      img {
         margin-top: -80px;
         margin-left: 30px;
         width: 200px;
         height: auto;
         border: 7px solid $white;
         border-radius: 6px;
      }
   }
}
