@import '../../scss/variables';
@import '../../scss/mixins';

.home-wrapper {
   display: flex;
   flex-wrap: wrap;
}

.main-content-col {
   flex: 1 1 65%;
}
.side-content-col {
   flex: 1 1 35%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;

   .browse-col {
      flex: 1 1 30%;
   }

   .chart-col {
      flex: 1 1 70%;
   }  

}


