@import '../../scss/variables';

.home-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
}

.browse-col {
   flex: 0 1 20%;
}

.chart-col {
   flex: 0 1 30%; 
}

.chart-title {
   font-size: 30px;
   color: $blue;
   text-align: center;
   margin-bottom: 5px;
}

@media only screen and (max-width: 500px) {

   

}