@import "../../scss/variables";
@import "../../scss/mixins";

.home-wrapper {
   padding: 1em;
   display: flex;
   // @include shadow;
}

.main-content-col {
   flex: 1 1 65%;
}
.side-content-col {
   flex: 1 1 35%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-left: 0.75em;
   .browse-col {
      margin-bottom: 1em;
   }

   .chart-col-close {
      background-color: $white;
      @include shadow;
      overflow: hidden;
      height: 470px;
      position: relative;
      .chart-title {
         font-weight: bold;
         color: $blue-5;
         margin: 10px 0;

         #show-more {
            font-size: 80%;
         }
      }

      .chart-show-more {
         height: 100px;
         width: 100%;
         display: block;
         background: $dark-gray-1;
         background: linear-gradient(
            0deg,
            #fff 0,
            hsla(0, 0%, 100%, 0.8) 60%,
            hsla(0, 0%, 96%, 0.1)
         );
         position: absolute;
         bottom: 0;
      
         p {
            position: absolute;
            font-size: 0.75em;
            left: 50%;
            margin-left: -30px;
            bottom: 10px;
            color: $blue-5;
            font-weight: bold;
            cursor: pointer;
         }
      }
   }

   .chart-col-open {
      background-color: $white;
      @include shadow;
      overflow: hidden;
      height: auto;
      position: relative;
      .chart-title {
         font-weight: bold;
         color: $blue-5;
         margin: 10px 0;

         #show-more {
            font-size: 80%;
         }
      }

      .chart-show-more {
         height: 5px;
         display: none;
         width: 100%;
         display: block;
         background: $dark-gray-1;
         background: linear-gradient(
            0deg,
            #fff 0,
            hsla(0, 0%, 100%, 0.8) 60%,
            hsla(0, 0%, 96%, 0.1)
         );
         position: absolute;
         bottom: 0;
      
         p {
            display: none;
            position: absolute;
            left: 50%;
            margin-left: -40px;
            bottom: 10px;
            color: $blue;
            font-weight: bold;
            cursor: pointer;
         }
      }
   }
}

.chart-header {
   display: flex;
   justify-content: space-between;
   margin: 10px;

   .chart-type {
      display: flex;
      margin: 0.5em 0;

      li {
         display: block;
         margin: 0 auto;
         a {
            color: $white;
            font-size: 0.85em;
            background-color: $blue-5;
            margin-left: 0.3em;
            padding: 0.2em 0.6em;
            @include shadow;
            border-radius: 3px;
            cursor: pointer;
         }
      }
   }
}

.title-type-chart {
   margin: 0 10px;
   p {
      color: $blue;
      width: 30%;
      font-weight: bold;
      font-size: 0.8em;
      padding: 0.7em;
      padding-left: 0;
   }
}

@media only screen and (max-width: 1025px) {
   .home-wrapper {
      flex-direction: column;
      justify-content: space-between;
   }

   .side-content-col {
      margin-top: 1em;
      margin-left: 0em;
      .browse-col {
         // width: 90%;
         height: 80%;
      }
   }

   .main-content-col {
      justify-content: center;
   }

   // .browse-col {
   //    margin: 25px   0;
   // }
}
