@import "../../../scss/variables";
@import "../../../scss/mixins";
.profile-container {
  margin: auto;
  background: white;
  @include shadow;
  width: 500px;
  .content-space{
    padding: 1em;
  }
  h1 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
}
.profile-avatar-container {
  display: flex;
  margin-bottom: 1em;
}
.password-con {
  margin-top: 2em;
}
.dropzone {
  margin: auto;
}
.photo-wrapper {
  margin: auto;
  position: relative;
  img {
    margin: auto;
    width: 80px;
    height: 80px;
  }
}

.overlay-avatar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s ease;
  background-color: $dark-gray-1;
  cursor: pointer;
}

.photo-wrapper:hover .overlay-avatar {
  opacity: 0.5;
  filter: alpha(opacity=50);
  border-radius: 50%;
}

.icon {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}

.btn-info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0.5em;
}

.btn-logout-container {
  text-align: center;
  margin-top: 1em;
}

.btn-logout {
  margin: auto;
}

.profile-route-container{
  margin-bottom: 0.5em;
  div{
    margin: 0 auto;
    width: 500px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    span{
      color: $blue-2;
      cursor: pointer;
      font-weight: normal;
      text-align: center;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      border-radius: 3px;
      flex-basis: 0;
      flex-grow: 1;
      
    }
    span:hover{
      color:$blue;
    }
    .active{
      color:$blue;
    }
  }
}


.description-team{
  min-height: 160px;
}

@media screen and (max-width: 560px) {
  .profile-container {
    width: 100%;
  }
  .btn-info-container {
    button {
      width: 100%;
    }
  }
  .btn-logout {
    width: 100%;
  }
  .profile-route-container{
    div{
      width: 100%;
      flex-direction: column;
    }
  }
}

