@import "../../scss/mixins";
@import "../../scss/variables";

.chart {
   display: flex;
   flex-wrap: wrap;
}

.chart-item {
   flex: 1 1 300px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   @include shadow;
   background-color: $white;
   height: 100px;
   width: 200px;
   margin: 0 5px 5px;
   padding: 10px;
}

.rank {
   flex: 1 1 10%;
   font-size: 40px;

}

.img {
   flex: 1 1; 
}

.content {
   flex: 1 1 60%;
}