@import "../../scss/mixins";
@import "../../scss/variables";

.chart-item {
   display: flex;
   flex-wrap: wrap;
   @include shadow;
   background-color: $white;
   height: 100px;
   width: 95%;
   padding: 10px;
   color: #444;

   .rank {
      flex: 1 1 5%;
      font-size: 40px;
      color: $blue-5;
   }

   .img {
      width: 100%;
      height: 100%;
      flex: 1 1 25%;
   }

   .content {
      flex: 1 1 70%;
   }
}
