@import "../../scss/mixins";
@import "../../scss/variables";

.chart-wrapper {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 97%;
}

.chart-item {
   @include shadow;
   background-color: $white;
   height: 105px;
   width: 98.5%;
   color: #444;
   display: flex;
   align-items: stretch;
   margin-bottom: 10px;
   padding: 1.2%;

   .rank {
      font-size: 40px;
      color: $blue;
      padding: 15px;
      text-align: center;
      display: block;
      margin: auto 0;
   }

   .img {
      height: 90%;
      display: block;
      margin: auto 0;
   }

   .content {
      flex: 1 1 80%;
      padding: 1% 2%;
      display: flex;
      flex-direction: column;
      margin-left: 1%;

      .name-title {
         line-height: 1.2em;
         width: 80%;
         height: 1.2em;
         color: $blue-5;
         font-weight: bold;
         overflow: hidden;
         text-overflow: ellipsis;
         margin-bottom: 3%;
      }

      .side-title {
         height: 16%;
         font-size: 0.8em;
         margin-bottom: 1%;
         overflow: hidden;
         text-overflow: ellipsis;
      }

      .status-title {
         height: 16%;
         font-size: 0.6em;
         color: $blue;
         overflow: hidden;
         text-overflow: ellipsis;
      }
   }
}

// @media only screen and (max-width: )