@import "../../scss/mixins";
@import "../../scss/variables";

.manga-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 97%;
 }
 .manga-item {
    height: 160px;
    width: 98.5%;
    color: #444;
    display: flex;
    margin-bottom: 10px;
    padding: 1.2%;
 
    .rank {
       font-size: 40px;
       color: $blue;
       padding: 15px;
       text-align: center;
       display: block;
       margin: auto 0;
    }
 
    .left {
       display: flex;
       width: 312px;
       padding-left: 13px;
       flex-direction: row;
       align-items: center;
       .img_div {
          width: 80px;
          height: 120px;
          margin-right: 12px;
          .img {
             height: 100%;
             width: 100%;
             display: block;
             margin: auto 0;
          }
       }
       .name_title {
          flex-direction: column;
          line-height: 1.2em;
          width: 80%;
          color: $blue-5;
          font-weight: bold;
          text-overflow: ellipsis;
          margin-bottom: 3%;
       }
    }
 
    .e6dEC{
       padding-left: 25px;
       width: 280px;
       display: flex;
       align-items: center;
       ._1nNC1 {
          display: inline-block;
          width: 8px;
          height: 8px;
          background-color: #29b6f6;
          border-radius: 50%;
       }
       .Mq7mR {
          color: rgba(0,0,0,.87);
          font-size: 1rem;
          font-weight: 400;
          line-height: 24px;
          padding-left: 6px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          width: 100%;
       }
    }
    ._2t82X {
       align-items: center;
       color: rgba(0,0,0,.54);
       font-size: 14px;
       font-size: .875rem;
       font-weight: 400;
       display: inline-flex;
       line-height: 16px;
       text-align: right;
       padding-right: 20px;
    }
 
    .content {
       flex: 1 1 80%;
       padding: 1% 2%;
       display: flex;
       flex-direction: column;
       margin-left: 1%;
 
       .name-title {
          line-height: 1.2em;
          width: 80%;
          height: 1.2em;
          color: $blue-5;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 3%;
       }
 
       .side-title {
          height: 16%;
          font-size: 0.8em;
          margin-bottom: 1%;
          overflow: hidden;
          text-overflow: ellipsis;
       }
 
       .status-title {
          height: 16%;
          font-size: 0.6em;
          color: $blue;
          overflow: hidden;
          text-overflow: ellipsis;
       }
    }
 }
 