@import "../../../scss/mixins";
@import "../../../scss/variables";

//style for comic images
.comic-avatar {
   width: 100%;
   height: auto;
   @include shadow;  
 }

 //style for modal
.modal-add-comic {
   width: 100%;
   h2 {
     margin-bottom: 1em;
   }
   .action-group {
     margin-top: 0.5em;
   }
   textarea{
     margin-top: 0.5em;
     height: 200px;
   }
 }

 .photo-form{
   margin-top: 0.5em;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   .photo-display-container{
     position: relative;
    .photo{
      width: 80px;
      height: 120px;
    }
    .cover{
      width: 300px;
    }
    .loadingcmp{
      top: 0; 
    }
   }
   .photo-input{
    flex-basis: 100%;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .group-input{
       margin-bottom: 0px;
    }
    aside{
      display: none;
    }
   }
 }
 .css-1pcexqc-container{
   margin-top: 0.5em;
 }
.status-label{
  background-color: $green;
  padding-left: 0.5em;
  padding-right: 0.5em;
  line-height: 20px;
  font-size: 10px;
  width: fit-content;
  text-transform: uppercase; 
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.drop{
  background-color: $red;
}

.complete{
  background-color: $blue;
}

.delay{
  background-color: $orange-1;
}