@import "../../../scss/mixins";
@import "../../../scss/variables";

//style for comic images
.comic-avatar {
   width: 100%;
   height: auto;
   @include shadow;  
 }

 //style for modal
.modal-add-comic {
   width: 100%;
   h2 {
     margin-bottom: 1em;
   }
   .action-group {
     margin-top: 0.5em;
   }
 }