@import '../../../scss/variables';

$colors-map: (
  Green $green,
  Blue $blue,
  Yellow $yellow,
  Brown $brown,
  Gray $dark-gray
);

:export {
  green: $green;
  blue: $blue;
  yellow: $yellow;
  brown: $brown;
}
