@import "../../scss/mixins";
@import "../../scss/variables";

.main-wrapper {
   width: 93%;
   height: 1000px;
   background-color: $white;
   @include shadow;
   padding: 20px;
}

@media only screen and (max-width: 1025px) {
   .main-wrapper {
      width: 96%;
   }
}

@media only screen and (max-width: 769px) {
   .main-wrapper {
      width: 93%;
   }
}
