@import "../../scss/mixins";
@import "../../scss/variables";

.main-wrapper {
   // width: 93%;
   background-color: $white;
   @include shadow;
   padding: 20px;
   .few-hours {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: $orange-1;
   }
   .tilte-trending {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 28px;
    display: -webkit-inline-box;
   }
   .view-all {
      flex-shrink: 0;
      margin-left: 20px;
      float: right;
   }
}

.wrapper-latest{
  margin-top: 18px;
  padding: 20px 0;
  .title-latest {
    padding: 0 20px;
    padding-bottom: 20px; 
  }
  .alternative_cls:nth-child(even){
    background: $dark-gray-listmanga;
   }
   .alternative_cls:nth-child(odd){
    background: $white;
   }
  ._3X8sC {
    display: flex;
    font-size: 13px;
    height: 25px;
    color: rgba(0,0,0,.54);
    .qjYVyl {
       padding-left: 20px;
       width: 43%; 
    }
    .qjYVym {
       width: 34%;
    }
 }
}

// @media only screen and (max-width: 1025px) {
//    .main-wrapper {
//       // width: 96%;
//    }
// }
@media only screen and (max-device-width: 480px) {
  .main-wrapper {
    padding: 0;
    .few-hours{
      padding-left: 15px;
    }
    .tilte-trending{
      padding-left: 15px;
    }
    .view-all {
      padding-right: 10px;
    }
  }
  .wrapper-latest{
    .title-latest{
      padding: 10px;
    }
    ._3X8sC{
      display: none;
    }
  }
}
