@import "../../../scss/mixins";
@import "../../../scss/variables";
.user-status {
  text-align: center;
  i {
    padding: 0.3em 0.6em;
    border-radius: 5px;
    font-size: 13px;
  }
  .fa-user-check {
    color: green;
  }
  .fa-user-times {
    color: red;
  }
}
.dashboard-table {
  .ReactTable .rt-tbody .rt-td {
    border-right: 1px solid lighten($gray-1, 0%);
  }
}
