@import "../../../scss/variables";
@import "../../../scss/mixins";

.container{
   padding: 0.5em 0.2em;
 }

ul {
   margin: 0;
   padding: 0;
   list-style: none;
   .flex-container {
      display: flex;
      background-color: #fff;
      flex-wrap: wrap;
   }

   // Menu Base Styles

   nav {
      background-color: $blue-5;
      border-radius: 3px;

      ul {
         list-style-type: none;
         padding: 0;
      }

      a {
         text-decoration: none;
         color: $blue-5;
         display: block;
         padding: 15px;
         text-align: center;

         &:hover {
            background-color: $white;
            color: $blue-5;
            font-weight: bold;
         }
      }
   }
}

a {
   text-decoration: none;
}

.logo {
   margin: 0;
   display: block;
   text-align: center;

   img {
      width: 68px;
      height: 65px;
   }
}

.main-nav a {
   padding: 10px 15px;
   text-transform: uppercase;
   text-align: center;
   display: block;
}

.main-nav a {
   color: $blue-4;
   font-size: 0.99em;
}

.main-nav a:hover {
   color: $blue;
   font-weight: bold;
}

.header {
   // padding-top: 0.5em;
   // padding-bottom: 0.5em;
   background-color: $white;
   @include shadow;

   h1 {
      color: $blue-5;
   }
}

@media (min-width: 769px) {
   .header,
   .main-nav {
      display: flex;
      a {
         display: block;
         margin: auto 0;
      }
   }
   .header {
      flex-direction: column;
      align-items: center;
      .header {
         width: 80%;
         margin: 0 auto;
         max-width: 1150px;
      }
   }
}

@media (min-width: 1025px) {
   .header {
      flex-direction: row;
      justify-content: space-between;

      .main-nav {
         a {
            display: block;
            margin: auto 0;
         }
      }

      .logo {
         img {
            margin-left: 20px;
         }
      }
   }
}

