@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";
.login-container {
  align-items: center;
}
.login-content {
  margin: 0 auto;
  width: 500px;
}
.login-form {
  padding: 1.5em 1em;
  background: white;
  @include shadow;
  margin-bottom: 2em;
}

.forgot-password {
  display: block;
  text-align: right;
  margin-top: 1em;
  cursor: pointer;
  color: $blue;
}

#remember {
  margin-top: 0.5em;
}
.title-log {
  text-align: center;
  border-bottom: 2px;
  border-bottom-color: black;
  font-size: 150%;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.login-btn-container {
  display: flex;
  justify-content: space-between;
}
.rep-btn {
  margin-top: 1em;
  display: inline-block;
}

body {
  background-color: $gray-1;
}

.break-line-block {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid gray;
  line-height: 0.2em;
  margin: 10px 0 20px;
  span {
    background: $gray-1;
    padding: 0 10px;
    font-weight: bold;
    font-size: 115%;
    color: lighten($dark-gray-1, 30%);
  }
}

.social-panel {
  background-color: white;
  @include shadow;
  padding: 1.5em 1em;
}

.social-btn-container {
  display: block;
  text-align: center;
  .rep-btn {
    width: 70%;
    margin-top: 0em;
  }
  .mat1em {
    margin-top: 1em;
  }
}

@media screen and (max-width: 560px) {
  .login-content {
    width: 100%;
  }
  .login-btn-container {
    display: block;
    justify-content: space-between;
  }
  .rep-btn {
    width: 100%;
  }
  .social-btn-container {
    .rep-btn {
      width: 100%;
    }
  }
}

.request-forgot {
  width: 500px;
  .action-group {
    margin-top: 0.5em;
    justify-content: flex-end;
  }
  button {
    padding-left: 3em;
    padding-right: 3em;
  }
}

.email-forgot {
  margin-top: 1em;
}
