@import "../../scss/mixins";
@import "../../scss/variables";
.all_manga {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  min-width: 195px;
}
._1dGlBc {
  width: 26%;
  margin: 0 auto;
  padding-bottom: 8px;
  padding-top: 25px;
  ._D25dfc {
    &:hover {
      background: $gray-1;
    }
    color: $blue;
    width: 100%;
  }
}
.not_manga {
  text-align: center;
  padding-bottom: 30px;
  font-size: x-large;
}
._3T_XVY {
  padding-left: 20px;
}
// @media screen and (min-width: 769px) {
// }

// @media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
// }

// @media only screen and (max-device-width: 480px) {
// }
