@import "../../scss/variables";
@import "../../scss/mixins";

.bookmark-icon-container {
   position: fixed;
   left: 50px;
   top: 90px;
   width: 200px;
   height: 45px;
   border: 0;

   &:hover {
      .bookmark-icon-title {
         opacity: 0.9;
         transition: opacity 0.4s;
         margin-top: 10px;
      }
   } 

   img {
      @include shadow;
      width: 45px;
      height: 45px;
      background-color: $white;
      border-radius: 100px;
      cursor: pointer;
   }

   .bookmark-icon-title {
      font-size: 0.7em;
      opacity: 0;
      background-color: $white;
      @include shadow;
      border-radius: 5px;
      padding: 4px 10px;
      width: fit-content;
      font-weight: bold;
      color: $blue; 
   }
}

.reading-page {
   padding: 2em;
   @include shadow;
   border-radius: 4px;
   background: rgb(50, 50, 50);
   background: linear-gradient(
      90deg,
      rgba(50, 50, 50, 0.85) 0%,
      rgba(255, 255, 255, 0.8) 20%,
      rgba(255, 255, 255, 1) 80%,
      rgba(50, 50, 50, 0.8548669467787114) 100%
   );
   height: auto;
   display: flex;
   flex-direction: column;

   .reading-page-header-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
   }

   .control-bar {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      opacity: 0.4;
      width: 90%;
      position: fixed;
      bottom: 85px;

      &:hover {
         opacity: 1;
         transition: opacity 0.3s;
      }

      p {
         padding: 10px 20px;
         background-color: $white;
         color: $blue;
         font-weight: bold;
         @include shadow;
         border-radius: 4px;
      }
   }

   p {
      display: block;
      margin: 0 auto 20px;
      color: $blue;
      font-weight: bold;
   }

   h1 {
      font-size: 0.9em;
      margin-top: 1em;
      color: $red;
   }

   img {
      @include shadow;
      max-width: 100%;
      object-fit: cover;
      margin: 0 auto;
   }
}

@media only screen and (max-width: 1024px) {
   .bookmark-icon-container {
      top: 160px;

      img {
         width: 35px;
         height: auto;
      }
   }
}

@media only screen and (max-width: 768px) {
   .bookmark-icon-container {
      top: 360px;

      img {
         width: 30px;
         height: auto;
      }
   }

   .reading-page {
      img {
         width: 80%;
         object-fit: cover;
      }

      .control-bar {
         width: 85%;
      }

      .reading-page-header-bar {
         flex-direction: column;
         align-items: center;

         span {
            margin-bottom: 5px;
         }
      }
   }
}

@media only screen and (max-width: 500px) {
   .reading-page {
      img {
         width: 100%;
         object-fit: cover;
      }

      .control-bar {
         width: 80%;
         size: 50%;
      }

      .reading-page-header-bar {
         flex-direction: column;
         align-items: center;

         span {
            margin-bottom: 5px;
         }
      }
   }
}
