@import '../../../scss/mixins';
@import '../../../scss/variables';

.avatar-container {

   margin: 0;

   img {
      width: 100px;
      height: 100px;
      margin: 15px 20px;

      &:hover {
         opacity: 0.2;
         transition: opacity 0.5s;
      }
   }

}