.error-container {
  margin: auto;
  width: 500px;
  margin-top: 2em;
  text-align: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .btn-back-home {
    width: 100%;
    margin-top: 1em;
  }
  .link-to-home{
      width: 100%;
  }
}

@media screen and (max-width: 560px) {
    .error-container{
        width: 100%;
    }
}