@import "../../../scss/mixins";
@import "../../../scss/variables";

.comic-authors-container-close {
   height: 300px;
   @include shadow;
   overflow: hidden;
   font-size: 0.85em;
   color: $dark-gray-1;
   background-color: $white;
   // padding: 20px;
   margin-top: 5px;
   position: relative;

   h2 {
      color: $blue;
      margin-bottom: 5px;
      margin-top: 20px;
      margin-left: 20px;
   }

   p {
      margin-top: 10px;
      margin-left: 20px;
   }

   .comic-list-authors {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
      margin: 20px;

      .comic-author-item {
         display: flex;
         flex-direction: column;
         align-items: center;

         img {
            width: 80px;
            height: 80px;
         }
      }

   }

   .comic-authors-show-more {
      @include showMore;
   }
}

.comic-authors-container-open {
   height: auto;
   @include shadow;
   overflow: hidden;
   font-size: 0.85em;
   color: $dark-gray-1;
   background-color: $white;
   // padding: 20px;
   margin-top: 5px;
   position: relative;

   h2 {
      color: $blue;
      margin-bottom: 5px;
      margin-top: 20px;
      margin-left: 20px;
   }

   p {
      margin-top: 10px;
      margin-left: 20px;
   }

   .comic-list-authors {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
      margin: 20px 20px 50px;

      .comic-author-item {
         display: flex;
         flex-direction: column;
         align-items: center;

         img {
            width: 80px;
            height: 80px;
         }     
      }
   }

   .comic-authors-show-more {
      @include showMoreOpen;
      // @include showMore;
      // display: none;
   }
}

@media only screen and (min-width: 768px) {
   .comic-authors-container-close {
      height: 300px;
      margin-right: 2.5px;
   }

   .comic-authors-container-open {
      margin-right: 2.5px;
      height: auto;
   }
}
