@import "../../../scss/mixins";
@import "../../../scss/variables";

.comic-authors-container {
   height: auto;
   @include shadow;
   overflow: hidden;
   font-size: 0.85em;
   color: $dark-gray-1;
   background-color: $white;
   // padding: 20px;
   margin-top: 5px;
   position: relative;

   h2 {
      color: $blue;
      margin-bottom: 5px;
      margin-top: 20px;
      margin-left: 20px;
   }

   p {
      margin-top: 10px;
      margin-left: 20px; 
   }

   .comic-list-authors {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
      margin: 20px;
   }

   .comic-authors-show-more {
      @include showMore;
   }
}

@media only screen and (min-width: 768px) {
   .comic-authors-container {
      height: auto;
      margin-right: 2.5px;
   }
}
