@import '../../../scss/mixins';
@import '../../../scss/variables';

.comic-authors-container {
   height: 500px;
   @include shadow;
   background-color: $white;
   padding: 20px;
   margin-top: 5px;

   h2 {
      color: $blue;
      margin-bottom: 5px;
   }
}