@import "../../scss/mixins";
@import "../../scss/variables";

.browse-wrapper {
   @include shadow;
   background-color: $white;
   padding: 20px;
   margin-bottom: 20px;

   .browse {
      .col {
        display: inline-block;
        ._d5D78 {
          float: left;
          width: 50%;
          margin-bottom: 15px;
          a {
            color: black;
            &:hover {
              color: $blue;
            }
          }
        }
      }
   }
   p {
      margin-bottom: 10px;
   }
   ._1dGlB {
      margin: 20px -20px -20px;
      ._D25df {
        &:hover {
          background: $gray-1;
        }
        color: $blue;
        width: 100%;
      }
   }
}

.title {
   color: $blue-4;
   font-size: 30px;
   padding-bottom: 30px; 

   #show-more {
      font-size: 50%;
   }
}
