<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>         
			<rules>    
				<rule name="NameToRewrite" enabled="true"> 
					<match url="^article/([0-9]+)/([_0-9a-z-]+)" /> 
					<action type="Rewrite" url="index.html" /> 
				</rule> 
			</rules>
		</rewrite>
    </system.webServer>
</configuration>
