@import '../../../scss/mixins';
@import '../../../scss/variables';

.comic-summary-container {
   height: 500px;
   @include shadow;
   background-color: $white;
   padding: 20px;
   margin-top: 5px;
}