@import "../../../scss/mixins";
@import "../../../scss/variables";

.comic-description-container {
   height: auto;
   @include shadow;
   background-color: $white;
   padding: 20px;
   margin-top: 5px;
   font-size: 0.85em;
   color: $dark-gray-1;
   overflow: hidden;

   h2 {
      color: $blue;
      margin-bottom: 5px;
   }

   p {
      margin-bottom: 10px;
   }
}

@media only screen and (min-width: 768px) {
   
   .comic-description-container {
      margin-left: 2.5px;
      height: 345px;
   }
   // TODO: Add show more mixin
}
