.modal-add-mem{
    width: 500px;
    .action-group{
        margin-top: 0.5em;
    }
    label{
        margin-top: 0.5em;
    }
}

.modal-per-mem{
    width: 500px;
    .action-group{
        margin-top: 0.5em;
    }
    
}

.btn-team-info{
    margin-right: 0.5em;
}