@import "../../../scss/mixins";
@import "../../../scss/variables";
._2JUQV {
  display: inline-block;
  padding: 12px 14px;
  border-radius: 4px;
  -webkit-transition: background-color .15s ease;
  -o-transition: background-color .15s ease;
  transition: background-color .15s ease;
  vertical-align: top;
  position: relative;
  &:hover {
    background: $dark-gray;
  }
  ._1iAGN {
    display: block;
    position: relative;
    width: 151px;
    height: 219px;
  }
  ._10RzI {
    margin-top: 10px;
    font-weight: bold;
    .vlQGQ{
      
    }
  }
  ._2KzkR {
    font-size: 14px;
  }
  ._3UsUq {
    font-size: 14px;
  }
}
